* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.top {
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/top-back.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.top-box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top__heading {
    width: 510px;
    font-size: 64px;
    color: #1f3f68;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.top__text {
    width: 425px;
}

.top__button {
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    text-decoration: none;
    padding: 15px 50px;
    display: inline-block;
    margin-top: 71px;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.text_project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;

}

.project__img {
    width: 100%;
}

.project__item {
    position: relative;
    flex-grow: 1;
    flex-basis: 336px;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    flex-wrap: wrap;
}

.project__item_margin {
    margin-right: 32px;
}

.project__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project__text_margin {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.heading {
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.project__heading, .wwd__heading {
    text-align: center;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1f3f68;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.heading-contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.input-text {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button-submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px; 
    text-align: center; 
    color: #FFFFFF; 
    text-transform: uppercase;
}

.what-we-do {
    padding-top: 64px;
}

.card-box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
    flex-wrap: wrap;
}

.card {
    flex-basis: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;

}

.card__img {
    align-self: center;
    margin-bottom: 51px;
}

.card__link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.footer {
    margin-top: 112px;
    background: #316099;
}

.footer__top {
    display: flex;
    padding-top: 91px;
    flex-grow: 1;
    position: relative;
}

.footer__text {
    width: 495px;
    margin-bottom: 96px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 64px;
}

.footer__info_text {
    display: flex;
    width: 317px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    list-style-type: none;
}

.info_text_margin {
    margin-bottom: 20px;
}

.footer__bottom {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
}

.footer__heading {
    width: 340.96px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.text__footer, .text__bottom {
    width: 500px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
}

.text__item {
    margin-right: 19.5px;
}
.main {
    display: flex;
}

hr {
    width: 100%;
}

.footer__button {
    position: absolute;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    text-decoration: none;
    padding: 15px 80px;
    display: inline-block;
    top: 165px;
    right: 0;
}